.home-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-name {
  text-transform: capitalize;
}

.error-image {
  max-width: 469px;
  max-height: 355px;
}

.lupa {
  max-width: 25px;
  max-height: 25px;
}